  
  <div class="container">
    <h2 class="header">Time Zone</h2>
  <!-- <select>
    <option>Select</option>
      <option *ngFor="let item of this.countryList;let i = index" value="{{item.code}}"  (click)="onCountrySelected(item)" >
        {{item.countryName}}
      </option>
     
    </select> -->

    <input type="text" name ="" #text [(ngModel)]="name" placeholder="Enter the Country Name" >
    <button type="button" (click)="onCountrySelected(name)" >Submit</button>
    <div> <span>{{timeNow}}</span></div>
    <div><span>{{comment}}
    </span></div>
    <div>
      <!-- <img src="timeZoneConverter/timeZoneConverter/src/image"> -->
      <Span>{{notfound}}</Span>
    </div>
    
  </div>